# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# =========================
# Virtual environments
# =========================
venv/
ENV/
env/
.ml-env/
*.venv/

# =========================
# Jupyter Notebooks
# =========================
.ipynb_checkpoints

# =========================
# IDE / Editors
# =========================
.idea/
.vscode/
*.swp

# =========================
# Data / Datasets
# =========================
# KaggleHub cache & datasets
.kaggle/
.kagglehub/
.cache/
data/raw/
data/interim/

# Large common data formats
*.csv
*.tsv
*.xls
*.xlsx
*.parquet
*.h5
*.db
*.sqlite
*.pkl
*.joblib

# =========================
# OS-specific
# =========================
.DS_Store
Thumbs.db